# requirements.txt
fastapi>=0.110
uvicorn[standard]>=0.35
SQLAlchemy>=2.0
SQLAlchemy-Utils>=0.41
pydantic>=2.11
pydantic-settings>=2.10
aiosqlite>=0.21
asyncpg>=0.30
strawberry-graphql[fastapi]>=0.276

pytest
pytest-asyncio
httpx